:root {
  --output-primary: #1b48f2;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f6f8;
  font-size: 16px;
}

.table-header th:nth-child(1) {
  text-align: left;
}
.table-header th {
  background-color: var(--color-indigo);
  color: #fff;
  font-weight: normal;
  text-align: center;
}
.table-row td:nth-child(1) {
  font-weight: var(--font-semi-bold);
  color: var(--color-neutral-8);
  text-align: left;
}
.table-row td {
  text-align: center;
  color: var(--color-neutral-8);
}
.table-title {
  font-family: "Monserrat", sans-serif;
  margin-bottom: 0.3em;
}
/* DOM Extructure */

.wrapper {
  height: 100%;
}
.wrapper > .row {
  display: flex;
  height: 100%;
}

/* .wrapper > .row .navigation, */
.wrapper > .row .pg-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  word-break: break-word;
}

/* Navigation */

.navigation {
  width: 0;
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  box-shadow: var(--shadow-xl);

  transition: width 0.3s ease-out;
}
/* If burger button is clicked */
.navigation.open {
  width: 300px;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;

  transition: width 0.3s ease-out;
}

/* if pin is clicked, don't forget to set parent to relative position */
.navigation.pin-down {
  position: relative;
  max-width: 300px;
  flex: 1;
}

.nav-items-wrapper.fixed {
  position: fixed;
  height: 100vh;
  width: 300px;
  background: #fff;
}

.nav-options {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid var(--color-neutral-4);
}
.nav-options span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.nav-options img {
  max-width: 35%;
}
.nav-options a {
  color: var(--color-neutral-6);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-options a.pin-it {
  color: var(--color-neutral-9);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.nav-options a:hover {
  color: var(--color-neutral-9);
}

.side-links {
  padding: 1em;
  width: 300px;
}
.side-links ul {
  list-style: none;
  padding: 0;
}
.side-links ul li {
  padding: 5px 0;
}
.side-links ul li.active a {
  color: var(--output-primary);
}
.side-links ul li a {
  font-size: 14px;
  color: var(--color-neutral-9);
}
.side-links ul li a.restricted {
  display: flex;
  justify-items: center;
  color: var(--color-neutral-6);
}
.side-links ul li a.restricted > i {
  margin-top: 5px;
}
.side-links ul li a.restricted > span {
  margin-left: 5px;
}

/* Page Content & Burger Menu */
.burger-menu {
  padding: 1em;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.burger-menu a {
  color: var(--color-neutral-9);
}

.pg-content {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  position: relative;
  margin: auto;
  padding: var(--space-xl);
}

.pg-content .section {
  min-height: 800px;
}

/* Siled Home */
#xpressassessment {
  background-image: url("../image/home-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 60%;
  background-position-x: right;
}
#xpressassessment h1 {
  font-size: 4em;
  margin-top: 3em;
}
#xpressassessment h1 span {
  color: var(--output-primary);
}
.client-logo {
  margin-top: 2em;
}
.client-logo img {
  max-width: 200px;
}

.sectio-header {
  display: flex;
  justify-content: left;
  align-items: center;
}

.name-highlight {
  color: #fff;
  text-align: left;
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding: 0.5em 0.8em;
  margin-right: 1em;
  min-width: 200px;
  background-color: var(--output-primary);
  box-shadow: var(--shadow-xl);
}
.section-title {
  font-family: "Montserrat", sans-serif;
  border-bottom: none;
}

.section-content {
  margin-top: var(--space-xxl);
}

.figure img {
  max-width: 80%;
}

/* Slide 2 */
#ataglance {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

/* Slide 3 */
#fleetdetails {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

/* Slide 4 */
#apendix {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

/* footer */
.footer .columns .columns-item:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.papared-with-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.papared-with-content .brand {
  font-size: 14px;
  margin: 0 1em;
}
.papared-with-content .brand img {
  width: 100px;
  display: block;
}
.papared-for-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.papared-for-content span {
  font-size: 14px;
  margin-right: 1em;
}
.papared-name img {
  width: 100px;
  display: block;
}
